body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: max-content;
    justify-content: space-around;
    align-items: center;
    border: 2px var(--gh-border) solid;
    background-color: var(--gh-panel);
    padding: 30px;
    border-radius: 15px;
}

form h1 {
    text-align: center;
    margin-bottom: 45px;
}

form >* {
    width: 100%;
}

form #passwd {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-bottom: 50px;
}

form input:not([type='submit']){
    height: 50px;
    outline: none;
    background-color: var(--gh-bg);
    color: var(--gh-text);
    padding: 20px;
    border-radius: 15px;
    border: none;
}

form input:not([type='submit']):hover {
    border-bottom: 2px var(--gh-accent) solid;
}

form input:not([type='submit']):focus {
    border-bottom: 2px var(--gh-accent) solid;
}

form input[type='submit'] {
    height: 50px;
    background-color: var(--gh-bg);
    border: 1px var(--gh-accent) solid;
    color: var(--gh-accent);
    opacity: 70%;
    cursor: pointer;
    border-radius: 15px;
}

form input[type='submit']:hover {
    opacity: 100%;
    box-shadow: 0 2px 12px var(--gh-accent);
}