@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #343a40;
	font-family: "M PLUS Code Latin", monospace;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.dock {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: rgb(36, 36, 36);
	width: 410px;
	font-size: 4rem;
	position: fixed;
	bottom: 0;
	margin-bottom: 50px;
	border-radius: 15px;
	-webkit-box-shadow: -2px 6px 4px 4px rgba(112,112,112,0.87);
	box-shadow: -2px 6px 4px 4px rgba(112,112,112,0.87);
	padding: 10px;
	z-index: 100;
}

.dock .home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFAE9D;
}

.dock .home-hide {
	width: 10px;
	height: 10px;
	background-color: #FFAE9D;
	margin-top: 5px;
	border-radius: 50%;
}

.dock .about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #137C8B;
}

.dock .about-hide {
	width: 10px;
	height: 10px;
	background-color: #137C8B;
	margin-top: 5px;
	border-radius: 50%;
}

.dock .project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #7d86ff;
}

.dock .project-hide {
	width: 10px;
	height: 10px;
	background-color: #7d86ff;
	margin-top: 5px;
	border-radius: 50%;
}

.dock .contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #5fccff;
}

.dock >* .hide {
	display: none;
}

.dock .contact-hide {
	width: 10px;
	height: 10px;
	background-color: #5fccff;
	margin-top: 5px;
	border-radius: 50%;
}

.dock >* i {
	transition: linear;
	transition-duration: 0.3s;
	cursor: pointer;
}

.dock >* i:hover {
	transform: translate(0px, -20px) scale(1.2, 1.2);
	text-shadow: 2px 9px 8px #7C7C7C;
}

.container .window {
	display: flex;
	flex-direction: column;
	width: 900px;
	height: 600px;
	background-color: rgb(32, 32, 32);
	border-radius: 20px;
	border: 3px rgb(36, 36, 36) solid;
	position: absolute;
}

.window .head {
	display: flex;
	height: 50px;
	width: 100%;
	background-color: rgb(36, 36, 36);
	align-items: center;
	border-radius: 17px 17px 0px 0px;
	color: white;
}

.window .head .title {
	width: 820px;
	text-align: center;
	font-weight: bold;
	font-size: larger;
	position: inherit;
	left: 0;
}

.window .head .title:hover {
	cursor: grab;
}

.window .head .btn-win >*:hover{
	color: red;
	cursor: pointer;
}

.window .head .btn-win {
	display: flex;
	justify-content: space-around;
	width: 80px;
	align-items: center;
	text-align: center;
}


.hide-win {
	animation: magicLamp 0.5s forwards ease-in;
}

@keyframes magicLamp {
	0% {
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translate(var(--centerX), var(--centerY)) scale(0);
		opacity: 0;
	}
}


@keyframes magicRestore {
	0% {
		transform: translate(var(--centerX), var(--centerY)) scale(0);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
}

.restore-win {
	animation: magicRestore 0.5s forwards ease-out;
}
